*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
src/node_modules
web/media
web/static/CACHE
stats
Dockerfile
.idea/*
/**/**/**/*.pyc
db.sqlite3
media/*
locale/**/**/.mo
env/*
.venv
.vscode
my_env_project
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
media/
venv.bak/
*/certificates/*
media
*.pyc
secrets
ssl
static
.gitlab-ci.yml