/*
<--!----------------------------------------------------------------!-->
<--! Dark Variables !-->
<--!----------------------------------------------------------------!-->
*/
html[data-bs-theme="dark"] {

    // GRAY-DARK
    @each $color,
    $value in $grays-dark {
        --#{$prefix}gray-#{$color}: #{$value};
    }

    /* Dark Colors SCSS */
    --#{$prefix}dark: #{$light};
    --#{$prefix}light: #{$dark};
    --#{$prefix}heading-color: #{$white};
    --#{$prefix}link-hover-color: #{$primary};
    --#{$prefix}dark-rgb: #{to-rgb($light)};
    --#{$prefix}border-color: #{$gray-dark-200};
    --#{$prefix}light-rgb: #{to-rgb($gray-dark-300)};
    --#{$prefix}link-color: #{to-rgb($gray-dark-900)};
    --#{$prefix}link-color-rgb: #{to-rgb($gray-dark-900)};
    --#{$prefix}link-hover-color-rgb: #{to-rgb($primary)};

    /* Dark Subtle SCSS */
    --#{$prefix}primary-bg-subtle: #0d419d;
    --#{$prefix}secondary-bg-subtle: #30363d;
    --#{$prefix}success-bg-subtle: #0f5323;
    --#{$prefix}info-bg-subtle: #1c2d41;
    --#{$prefix}warning-bg-subtle: #4a3f2a;
    --#{$prefix}danger-bg-subtle: #5a1e1e;
    --#{$prefix}light-bg-subtle: #21262d;
    --#{$prefix}dark-bg-subtle: #161b22;
}